<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81357812760-5b6kdv1mahgorvhqr6bdg6digbt22m20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81357812760-5b6kdv1mahgorvhqr6bdg6digbt22m20</string>
	<key>API_KEY</key>
	<string>AIzaSyAHqiI_zeSl6axbaOild6VOGKbHrVSsqkU</string>
	<key>GCM_SENDER_ID</key>
	<string>81357812760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AppleSocial</string>
	<key>PROJECT_ID</key>
	<string>civil-zodiac-300911</string>
	<key>STORAGE_BUCKET</key>
	<string>civil-zodiac-300911.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81357812760:ios:cca32ada53cfeb1ef0ff6d</string>
</dict>
</plist>